{% extends 'base.html' %}

{% block content %}
<!--CTA-->
<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      {% if user.is_authenticated %}
        <h1 class="display-4 font-weight-bold">Find your next home, <br> {{ user.username }}</h1>
      {% else %}
        <h1 class="display-4 font-weight-bold">Find your next home</h1>
      {% endif %}
      <h5>Search and review dozens of locations near Grounds.</h5>
      <a class="btn btn-primary mt-2" href="/listings">View Listings</a>
      {% if user.is_authenticated %}
        <a class="btn btn-primary mt-2" href="/listings/addlisting">Add Listing</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}